[build]
  command = "CI= yarn build"
  publish = ".next"
  functions = "netlify/functions"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[functions]
  included_files = ["./node_modules/**", "./prisma/**"]

[build.environment]
  NODE_ENV = "production"
  NEXT_PUBLIC_SPRING_URL = "http://43.202.45.170:8080"